./GASLanguageProcessor/obj/rider.project.restore.info
./GASLanguageProcessor/obj/project.nuget.cache
./GASLanguageProcessor/obj/Debug/net8.0/GASLanguageProcessor.AssemblyInfo.cs
./GASLanguageProcessor/obj/Debug/net8.0/GASLanguageProcessor.sourcelink.json
./GASLanguageProcessor/obj/Debug/net8.0/GASLanguageProcessor.AssemblyInfoInputs$
./Tests/obj/rider.project.restore.info
./Tests/obj/project.nuget.cache
./Tests/obj/Debug/net8.0/Tests.csproj.CoreCompileInputs.cache
./Tests/obj/Debug/net8.0/Tests.csproj.FileListAbsolute.txt
./Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
./Tests/obj/Debug/net8.0/Tests.sourcelink.json
./Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
